
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Helper function for admin check
    function isAdmin() {
      return request.auth.token.email == 'rowboxslw@gmail.com';
    }

    match /users/{userId} {
      // Allow users to read/write their own data
      // Allow Admin to read/write ANY user data
      allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
      
      match /transactions/{transactionId} {
        allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
      }
    }
    
    // Default deny
    match /{document=**} {
      allow read, write: if isAdmin(); 
    }
  }
}
