
@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORCE DARK THEME */
html, body {
    background-color: #000000 !important;
    color: #ffffff;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}
